*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.introduction{
    height:100vh;
    width:100%;
    position:relative;
    padding: 0 !important;
}
#logo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 100;
}

@keyframes shadowy{
    to{
-webkit-box-shadow: -3px 29px 22px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 29px 22px -9px rgba(0,0,0,0.75);
box-shadow: -3px 29px 22px -9px rgba(0,0,0,0.75);
background: rgb(23,133,208);
background: radial-gradient(circle, rgba(23,133,208,1) 30%, rgba(77,57,182,1) 100%);
    }
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill{
    from{
        fill:transparent;
    }
    to {
        fill:#020202;
    }
}
@keyframes fillwords{
    from{
        fill:transparent;
    }
    to {
        fill:#F2AA4C;
    }
}
@keyframes scal{
    to {
        transform: scale(0.3,0.3);
        top:10px;
        left:10px;
        transform-origin:top left;
    }
}
.introduction{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgb(38,93,148);
    background: radial-gradient(circle, rgba(38,93,148,1) 0%, rgba(16,24,32,1) 90%);;
background-size: contain;
padding-top:50px;
padding-right: 50px;
color: white;
}
.impo {
    color: #F2AA4CFF; 
    transform: translateY(-10vh);
    opacity: 0;
    animation: starting 1s ease-out forwards ;
}
@keyframes starting {
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.introduction .man-svg{

    width:40%;

}
.introduction .man-svg svg {
    transform:scale(1);
    width: 100%; height: 100%;

}
.text{
    font-family: 'Indie Flower', cursive !important;
    font-size: 1.2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-left:5% ;
    height:80vh;

}
.text div {
    margin:20px;
    padding:5px;
}
.impo{
    font-weight: bold;
    font-size: 4rem;
}
.iam{
    height:50px;
    padding:5px;
}
.adjectifs{
    height:50px;
    padding:5px;
    overflow: hidden;
}
.name,.job{
    display:flex;
    align-items: center;
    justify-content: center;;
    height:50px;
    color:white;
    background-color: #6C63FF;
    animation:text-slide 8s ease-in infinite;
}
.job{
    text-align: center;
    height:50px;
    background-color: white;
    color:#6C63FF;
}




.content {
    animation:animateContent 1s ease-in forwards;
}
@keyframes animateContent { 
    from{ opacity:0 } 
    to{ opacity:1 }
  }
@keyframes text-slide{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-110%);
}
100%{
    transform: translateY(0%);
}

}
.fab-container{
    position:fixed;
    top:10px;
    right:20px;
    z-index:999;
    cursor: pointer;
}
.fab-icon-holder{
    width:50px;
    height: 50px;
    border-radius:50%;
    background-color: #6C63FF;
    z-index: 23;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.fab-icon-holder:hover{
    opacity: 0.5;
}
.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width:50px;
    padding:7px;

}
.nav-text{
    color:#6C63FF;
    letter-spacing: 3px;
    font-size:15px;
    font-weight: bold;
}
.fab-container{
 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width:700px;
    overflow-x: hidden;
}
.fab-options {

    display: flex;
    width:600px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transform:translate(120%);
    transition: transform 0.5s ease-in;

}
.nav-active {
    transform: translate(0);
}
.fab-options li{
    
}
@keyframes navlinkfade{
    from{
        opacity :0;
        transform:translate(500px) ;
    }
    to{
        opacity:1;
        transform:translate(0);

    }
}
.line1{
    width:25px;
    height: 5px;
    background-color: white;
    transition: all 0.3s ease;
}
.line2{
    width:25px;
    height: 5px;
    background-color: white;
    transition: all 0.3s ease;
}

.line3{
    width:25px;
    height: 5px;
    background-color: white;
    transition: all 0.3s ease;
}
.toggle .burger .line1{
    transform:rotate(-45deg) translate(-10px,10px);
}
.toggle .burger .line2{
    opacity: 0;
}
.toggle .burger .line3{
    transform:rotate(45deg)  translate(-10px,-10px);
}
.about{
    height: 100vh;
    position: relative;
    background-color: white;
    z-index: -2;
}
.slider{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    z-index: -1;
}
.slider .container{
    width:80%;
    height: 70%;
    background: rgb(38,93,148);
    background: radial-gradient(circle, rgba(38,93,148,1) 0%, rgba(16,24,32,1) 64%);
    position: absolute;
    top:7%;
    left:0%;
}
section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.hero {
    height: 60%;
    width: 100%;
    position: relative;
}
.hero img {
    width: 100%;
    height: 100%;
}
.headline {
    position: absolute;
    bottom:0%;
    left:10%;
    font-size: 100px;
    color: white;
    z-index: 3;
}
.about_text{
    position: absolute;
    top:10%;
    left:5%;
    font-size: 20px;
    color:black;
}
.resume{
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.cv ,.about_cv{
    height: 100vh;
    flex:1;
}
.cv img {
    max-width: 100%;
    max-height: 100%;
}
.circle{
    border-radius:50% ;
position: absolute;
z-index: -10;
background: #ECF7FA;
opacity: 0.8;
}
.c1{
    width: 319px;
    height: 300px;
    left: 10%;
    top: 5vh;
}
.c2{
    width: 319px;
height: 300px;
right: 10%;
top: 5vh;
}
.c3 {
    width: 319px;
height: 300px;
right: 5%;
bottom: 2vh;
}
body{
    background:black ;
    font-family: 'Indie Flower', cursive !important;
}
.loader {
    z-index: 800;
    background: black !important;
}
.pages {
    position:absolute;
    right:30px;
    z-index:1;
    top:50vh;
    transform: translate(0%,-50%);
    color :white;
    height:60vh;
    width:8vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.page {
    display:flex;
    justify-content: space-between;
    align-items: center;
    opacity:0.5;
}
.active {
    opacity:1;
    color:#F2AA4CFF;
}
.active .page-circle{
background-color: #F2AA4CFF;
}
.page-circle {
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
