*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}
.section1{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}
.section2{
    height: 100vh;
    width: 100vw;
    background-color: rebeccapurple;
}